:root {
    --color-lightgray: #f5f5f5;
    --color-mediumgray: #eeeeee;
    --color-darkgray: #373737;
    --color-text: #0a0908;;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brown: #a9927d;
  
    --global-radius: 2px;
  
    --global-weight-bold: 700;
    --global-weight-medium: 600;
    --global-weight-normal: 400;
    --global-weight-small: 300;
    --global-weight-xsmall: 200;
  
    --font-header: 'Baloo 2', cursive;
    --font-body: Cormorant Infant, sans-serif;
    --font-intro: Lato, sans-serif;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: #f2f4f3;
    font-size: 12px;
    line-height: 20px;
}
  
  
html {
    min-height: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

li a {
    color: var(--color-darkgray);
}

a {
    text-decoration: none;   
    color: var(--color-darkgray); 
}
h1 {
    color: var(--color-darkgray);  
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 52.8px;
}
h2 {
    color: var(--font-header);
    margin-top: 0;
    margin-bottom: 0;  
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
}
h3 {
    font-size: 25px;
    font-weight: var(--global-weight-medium);
    line-height: 28px;
    letter-spacing: 1.5px;
    padding: 0 0 10px 0;
}
h4 {
    font-size: 18px;
    font-weight: var(--global-weight-small);
    line-height: 15px;
    padding: 0 0 20px 0;
    color: var(--color-brown);
    text-transform: uppercase ;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
p {
    color: var(--color-text);
    font-size: 1.1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}   
section {
    position: relative;
    padding: 5rem 8rem;
    display: flex;
    overflow: hidden;
    /* align-items: center; 
    justify-content: center;  */
} 
section h2 {
    padding: 0 0 2.5rem 0;
    text-align: center;
}

.button {
    display: inline-block;
    line-height: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;    
} 

/* --- HEADER --- */

header {
    position: relative;
    min-height: 100vh;
}

/* video */
#background-video, 
#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow-y: hidden;
    z-index: -1;
    opacity: 0.1;
}

.navbar {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
    height: 60px;
    padding: 3rem 0 0;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    padding: 0 7rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 12px;   
    border-top: 1px solid black;
}

.slider {
    position: absolute;
    display:block;
    left: 0;
    top:120%;
    margin:0 auto;
    height: 0.5px;
    background-color: var(--color-black);
    width: 0%;
    transition: width 1s ease;
}
.underline-progress-bar {
    position:relative;
    display:inline-block;
    transition: all 0.3s ease-out;
}
.underline-progress-bar:hover .slider {
    width: 100%;
}


.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.logo-container .name {
    text-transform: lowercase;
    font-size: 2.5rem;
    font-family: 'georgia';
    letter-spacing: 1rem;  
    line-height: 60px; 
}
.logo-container .web {
    letter-spacing: 8px;
    font-size: 9.5px;
}

/* dropdown menu */

/* .dropdown-icon {
    display: none;
    color: var(--color-black);
    padding: 16px;
    font-size: 30px;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    width: 100vh;
    height: 60vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
}
  
.dropdown-content a {
    display: block;
    color: black;    
    padding: 1.75rem 3rem;
    font-size: 1.25rem;
    text-decoration: none;    
}
  
.dropdown a:hover {
    background-color:var(--color-white);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
  
.show {
    display: block;
} */

/* back to top button */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 0;
    z-index: 99;
    border: none;
    border-radius: var(--global-radius);
    outline: none;
    background-color: var(--color-brown);
    color: white;
    cursor: pointer;
    padding: 1rem 15px;
    font-size: 1.5rem; 
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#back-to-top:hover {
    background-color:var(--color-darkgray);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/* WELCOME SECTION */
#welcome-section {  
    padding: 14rem 4rem 0 4rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60vh;
    
}
 #welcome-section .intro-left {      
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 50%;
    opacity: 1;    
}
#welcome-section .intro-right { 
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: right;     
    width: 50%;
    padding: 0 10rem 2rem 0;
    letter-spacing: .5px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;  
    opacity: 1;  
} 
.intro-right a {
    font-weight: var(--global-weight-medium);
}

#btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-button {
    position: absolute;
    color: var(--color-black);   
    letter-spacing: .5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #0a0908;
    font-weight: 400;    
}
.video-button:hover {
     font-size: larger;
     transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/* animated word intro */
#typed-words {   
    display: inline-block;
    position: relative;
    color: #a9927d;
    font-family: Cormorant Garamond, sans-serif;
    font-size: smaller;
    font-weight: var(--global-weight-normal);
    line-height: 1.2;    
}
#typed-words:before {
    content: '';
    background-color: #a9927d;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0.2px;
}
  
/* WORK SECTION */
#work {
    display: flex;
    flex-direction: column;    
}
.projects .project-box-container:not(:first-child) {
    padding-top: 6rem;
} 
.project-box-container {
    display: flex;
    align-items: start;
    height: 60vh;
    padding: 2.5rem;      
}
.project-box-container-inner-right {
    flex: 50%;
    padding: 0 4rem 0 0;    
}
.project-box-container-inner-left {
    flex: 50%;
    padding: 0 0 0 4rem;     
}
.project-box-img-right {
    flex-basis: 50%;
    height: 100%;
    padding: 0 0 0 4rem;  
    overflow: hidden;
    position: relative;
}
.project-box-img-left {
    flex-basis: 50%;
    height: 100%;
    padding: 0 4rem 0 0;  
    overflow: hidden;
    position: relative;
} 

.project-box-img-right img,
.project-box-img-left img { 
    border-radius: var(--global-radius);
}

.project-box-img-right img,
.project-box-img-left img  {
    transition: 0.3s ease transform;
}
.project-box-container:hover .project-box-img-right img,
.project-box-container:hover .project-box-img-left img {
    transform: scale(1.1);
} 

.project-box-name {
    border-bottom: 1px solid black;
}
.project-box-subtitle {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 0;
    font-size: small;    
}
.project-box-text i {
    font-size: 12px;
    color: var(--color-brown);
}
.project-box-icon {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 0 0 1rem;
}
.project-box-icon ul {
    display: flex;
    font-size: 1rem;   
}
.project-box-icon ul li {
    padding: 0 3rem 0 0;
}
.project-box-icon ul li i {
    padding: 0 10px 0 0;
}


/* .project-box-img {
    flex: 50%;
    padding: 0rem 0 0 2rem; 
}
.project-box-img img {
    width: 100%; /* or any custom size */
    /* height: 100%; 
    object-fit: contain;  
    border-radius: var(--global-radius);
} */ 

/* .project-box-img {
    flex-basis: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
  } */
  /* .project-box-container-inner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
